fastapi
uvicorn[standard]
motor
pydantic>=2
pydantic-settings
python-dotenv
PyJWT
passlib[bcrypt]
redis
numpy
scikit-learn
email-validator
flask
spotipy
lyricsgenius
google-auth-oauthlib
google-auth
requests
httpx
python-multipart
